<div class="card">
    <div class = "card-image card-img-top">
        <%= render "shared/carousel", photos: skate.photos, id_name: skate.id%>
    </div>
    <div class="card-body">
        <div class = "d-flex justify-content-between">
            <h5 class="card-title"><%=skate.ubicacion%></h5>
            <p class="card-text">$<%=skate.precio_dia%>/dia</p>
        </div>

        <div class = "d-flex justify-content-between">
            <div>
                <%= link_to "Editar", edit_skate_path(skate) %>
                <%= link_to "Eliminar", skate_path(skate), method: :delete, data: {confirm: "Estas seguro?"}, class:"text-danger" %>
            </div>
            <div class = "d-flex justify-content-between ml-2">
                <% rating = skate.reviews.reduce(0) do |sum, review|%>
                    <% sum + review.rating%>
                <%end%>
                <h6>Rating:</h6>
                <%if (skate.reviews.size.zero?) %>
                    <% 5.times do |x|%>
                        <i class="far fa-star"></i>
                    <%end%>
                <%else%>
                    <%(rating.div(skate.reviews.size)).times do |x|%>
                        <i class="fas fa-star"></i>
                    <%end%>
                    <%(5 - rating.div(skate.reviews.size)).times do |x|%>
                        <i class="far fa-star"></i>
                    <%end%>
                <%end%>

            </div>
        </div>       
    </div>
</div>
