<div class="card mb-4" style="width: 18rem;">
    <div class = "card-image card-img-top">
        <%= render "shared/carousel", photos: skate.photos, id_name: skate.id%>
    </div>
    <div class="card-body">
        <div class = "d-flex justify-content-between">
            <h5 class="card-title"><%=skate.ubicacion%></h5>
            <p class="card-text">$<%=skate.precio_dia%>/dia</p>             
        </div>
        
        <div class = "d-flex justify-content-between">
            <div>
                <% if policy(skate).edit?  %>
                    <%= link_to "ver", skate_path(skate) %>
                    <%= link_to "editar", edit_skate_path(skate) %>
                <% else  %>
                    <%= link_to "Rentar", skate_path(skate) %>
                <% end %>
            </div>            
            <div class = "d-flex justify-content-between ">                
                <% rating = skate.reviews.reduce(0) do |sum, review|%>
                    <% sum + review.rating%>   
                <%end%>
                <h6 class = "mr-1">Reputacion:</h6>
                <h6 ><%=skate.reviews.size.zero? ? 0 : rating.fdiv(skate.reviews.size)%> </h6>                          
            </div>
        </div>
        <h6 class="card-subtitle text-muted mt-1" id="card-distancia"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            Distancia : </h6>
    </div>
</div>
