<%= render "/shared/navbar2" %>
<div class = container>
    <div class = "d-flex">
        <div class = "profile">
            <div class="card mt-4" style="width: 18rem;">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "img-top rounded-circle border p-5", alt: "avatar-large" %>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>
        </div>
    <div>
</div>
</div>
<h1>Mis Skate</h1>
<% @my_skates.each do |skate| %>
 <%=  skate.descripcion  %>
 <%= link_to "Ver" %>
 <%= link_to "Editar" %>
 <%= link_to "Eliminar" %>
<% end %>
<h1>Mis Reservas</h1>
<% @my_bookings.each do |booking| %>
 <%=  booking.status  %>
 <%= link_to "Ver" %>
 <%= link_to "cancelar" %>
<% end %>
<h1>Mis rantas</h1>
<table>
  <th>usuario</th><th>Fecha</th><th>status</th><th>completada</th>
<% @rents.each do |rent| %>
  <tr><td><%=   rent.user.email %></td><td><%=   rent.time_from %></td><td><%=  rent.status %></td><td><%= rent.compled %></td>
  <% if !rent.compled  %>
    <td><%= link_to "completado", compled_path(rent), class: "btn btn-primary"%></td> </tr>
  <% end %>
<% end %>
</table>
</div>
