<%= render "/shared/navbar2" %>
<div class = container>
    <div class = "d-flex">
        <div class = "profile">
            <div class="card mt-4">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "img-top rounded-circle align-self-center", alt: "avatar-large", width: "100px" %>
                <div class="card-body">
                    <h5 class="card-title"><%=current_user.email.match(/\w+/)[0]%></h5>
                    <p class="card-text"></p>
                    <%= link_to "Editar profile", class: "btn btn-primary"%>
                </div>
            </div>
        </div>
    <div>
</div>
</div>

<h1>Mis Skate</h1>   
    <div class = "cards row d-flex justify-content-around mt-4 pt-3">
        <%@my_skates.each do |skate| %>         
            <div class="mb-3 col-12 col-sm-6 col-lg-3">             
                <%= render "shared/card-dash", skate: skate%>                 
            </div>          
        <% end %>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>
</div>


<h1>Mis rantas</h1>
<table>
  <th>usuario</th><th>Fecha</th><th>status</th><th>completada</th>
<% @rents.each do |rent| %>
  <tr><td><%=   rent.user.email %></td><td><%=   rent.time_from %></td><td><%=  rent.status %></td><td><%= rent.compled %></td>
  <% if !rent.compled  %>
    <td><%= link_to "completado", compled_path(rent), class: "btn btn-primary"%></td> </tr>
  <% end %>
<% end %>
</table>
</div>

