<div class="d-flex justify-content-between align-items-center">
  <h1> Skates </h1>
  <% if user_signed_in? %>
  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
      <%= link_to "+ Crear nueva skate", new_skate_path %></font></font>
    </button>
  </div>
  <% end  %>
</div>

<div class = "container mt-5 pt-5">
    <div class = "d-flex mb-5">
        <h5 class = "mr-2"> Ordenar por: </h5>
        <%= render "shared/dropdown"%>
    </div>
    <div class = "cards d-flex flex-wrap justify-content-between">
        <% @skates.each do |skate| %>
            <%= render "shared/card", skate: skate%>
        <% end %>
    </div>
</div>
<%
=begin%>

<div class="container">
  <div class="row">
    <% @skates.each do |skate| %>
      <div class="col-6">
        <div class="card mb-4 mt-4">
          <% skate.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 200, crop: :fit %>
          <% end %>
          <div class="card-body">
            <h2 class="card-title"><%= link_to skate.id, skate_path(skate), class: "text-white" %></h2>
            <h2 class="card-title"><%= skate.descripcion %></h2>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><%= skate.ubicacion%></button>
                </div>
                <small class="text-muted">Precio: <%= skate.precio_dia %> $</small>
              </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
<%
=end%>
