<%= render "/shared/navbar2" %>


<div class="d-flex justify-content-between align-items-center mt-5 mb-5 container">
  <div class = "filter">
        <h5 class = "mr-2"> Ordenar por: </h5>
        <%= render "shared/dropdown"%>
    </div>

  <% if user_signed_in? %>
    <%= link_to new_skate_path, class: "btn btn-lg", style: "border-radius: 15px; color: white; background: #ffc107;" do %>
      <i class="far fa-plus-square"></i> Agregar
    <% end %>
  <% end  %>

  
</div>

<div class = "cards-container mt-5 ml-5 mr-5 p-2">    
    <div class = "cards d-flex flex-wrap justify-content-between mt-5">
        <% @skates.each do |skate| %>
          <%= link_to skate_path(skate), class:'text-decoration-none' do %>
            <%= render "shared/card", skate: skate%>
          <% end %>
        <% end %>
    </div>
</div>
<div class="d-flex justify-content-center mt-3">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>