<%= render "/shared/navbar2" %>

<div class="d-flex justify-content-between align-items-center mt-5 container">
  <% if user_signed_in? %>
    <%= link_to new_skate_path, class: "btn btn-lg", style: "border-radius: 15px; color: white; background: #ffc107;" do %>
      <i class="far fa-plus-square"></i> Agregar
    <% end %>
  <% end  %>

</div>

<div class = "cards-container m-5 p-5">
    <div class = "filter mb-5">
        <h5 class = "mr-2"> Ordenar por: </h5>
        <%= render "shared/dropdown"%>
    </div>
    <div class = "cards d-flex flex-wrap justify-content-between">
        <% @skates.each do |skate| %>
          <%= link_to skate_path(skate), class:'text-decoration-none' do %>
            <%= render "shared/card", skate: skate%>
          <% end %>
        <% end %>
    </div>
</div>
