
<div class="row justify-content-center">
<h2>Agrega nueva Skate</h2>
  <div class="col-12 col-md-8 col-lg-4 p-3 rounded mb-lg-5 bg-white text-dark">
    <%= simple_form_for @skate do |f| %>
    <%= f.input :precio_dia, label: "precio por dia"%>
    <%= f.input :descripcion, label: "Descripcion"%>
    <%= f.input :ubicacion, label: "ubicacion"%>
    <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
