<%= render "/shared/navbar2" %>

<div class = "container mt-5 pt-5">

  <div class="row card-deck">
    <div class="map-card card mb-3 col-7 shadow bg-white">
        <div class="card-img-top d-flex justify-content-center mt-3">
            <%= render "shared/map" %>
        </div>

        <div class="card-body">
            <h5 class="card-title" id = "ubicacion"><%=@skate.ubicacion%></h5>
            <p class="card-text"><%=@skate.descripcion%></p>
            <p class="card-text"><small class="text-muted">Last updated <%= distance_of_time_in_words_to_now(@skate.created_at) %> ago</small></p>
        </div>
    </div>
    <%= render "shared/cardbookingnew", skate: @skate, reservado: @reservado, booking: @booking %>
    <div class="skater-card card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4 p-2">
                <%= render "shared/carouselShow", photos: @skate.photos, id_name: @skate.id%>
            </div>
            <div class="col-md-8 shadow">
                <div class="card-body">
                    <h5 class="card-title"><%=@skate.user.email%></h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

     <%= render "shared/reviews", skate: @skate, reservado: @review_act %>
</div>
